.textarea {
    background-color: #fff;
	padding: 16px;
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #e4eaf1;
	position: relative;
	color: #858c95;
	box-sizing: border-box;
	font-family: 'OpenSans Regular';
	font-size: 14px;
	outline: none;

	&.notValid {
		border: 1px solid $red;
	}
}